<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionDesarrollo"
			 connectionString="Data Source=.;Initial Catalog=sistAdopcion941lp;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />

		<add name="ConexionProduccion"
			 connectionString="Server=Conexion_941lp;Database=sistAdopcion941lp;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>